@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    position: relative;
    overflow-x: hidden;
}

textarea {
    height: 300px;
}

.bg-green {
    background-color: #F0FBF7;
}