@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #F4F8FB;
    position: relative;
    overflow-x: hidden;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.form-container {
    margin: 0 auto;
    width: 100%;
    max-width: 420px;
}