body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #F4F8FB;
    position: relative;
    overflow-x: hidden;
}

.profile-data {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    
}

.tracker-card {
    padding: 1rem;
    color: #fff;
}

.tracker-card:first-child {
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
}

.tracker-card:nth-child(2) {
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
}

.tracker-card:last-child {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.tracker {
    font-size: 1.6rem;
}

a.list-a {
    color: #2375b5;

}